<h2>Find Hotels</h2>
<p style="display: none;">
	# her gem
	# simplecov - rcov
	rake stats
</p>

<%= link_to new_hotel_path, class: 'pull-right btn btn-success' do %>
<i class='icon-plus icon-white'></i> New Hotel
<% end %>

<h4>List all hotels here <%= @hotels.count %></h4>
<%= render @hotels %>